*{
    margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:50%;
	margin:auto;
}

.border{
	border:3px solid silver;
	padding:10px;
	border-radius:15px;
	background-color:black;
}
.first{
	display:flex;
	justify-content:space-around;
	border:1px solid silver;
	border-radius:10px;
    margin-top:30px;
}
.second{
	display:flex;
	justify-content:space-around;
	border:1px solid silver;
	border-radius:10px;
	margin-top:20px;
}
.date{
	text-align:center;
}
.month{
	text-align:center;
}
.year{
	text-align:center;
}
.hour{
	text-align:center;
}
.minute{
	text-align:center;
}
.seco{
	text-align:center;
}
.third{
    display:flex;	
	justify-content:space-between;
	margin-top:30px;
}
.sun{
	text-align:center;
}
.sun-radius{
	border:1px solid silver;
	border-radius:50%;
   padding:5px;
}
.red{
	border-radius:50%;
    padding:6px; 
}
.four{
	display:flex;
	justify-content:center;
	gap:10px;
	margin-top:30px;
}
.clock{
	border:4px solid silver;
	padding:30px;
	background-color:black;
	width:80%;
}
 h2, h4{
	color:white;
}
h1{
	color:red;
}
.first h2, h1{
	margin-top:15px;
}
.second h2, h1{
	margin-top:15px;
}